/*
  Henok Assalif & Jimmy Le
  Date: May 4th, 2024
  Section: AE, Peter Oh & Kasten Welsh

  This is the styles.css page for main page
*/

body {
  margin: 0;
  padding: 0;
}

#header {
  background-color: #212529;
  height: 30px;
  display: flex;
  justify-content: end;
}

#login, #display-login, #logo, #visual-schedule {
  color: white;
  height: 100%;
  width: 8%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  color: white;
}

#logo {
  margin-top: 0;
}

#logo-header {
  display: flex;
  justify-content: space-between;
  background-color: #4d307f;
  height: 80px;
}

#login:hover, #display-login:hover, #logo:hover, #visual-schedule:hover {
  background-color: lightgrey;
}

#main-body {
  display: flex;
  flex-direction: row;
  justify-content: start;
  height: 100vh;
  margin-top: 30px;
}

#filter-container, #course-list {
  border: solid 2px black;
  border-radius: 5px;
  margin: 0 50px 0 10px;
}

#filter-container {
  padding: 10px 80px 10px 10px;
}

#course-list {
  padding-left: 10px;
  padding-right: 60%;
}

#search-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#course-input {
  margin-bottom: 10px;
  margin-left: 15px;
  padding-right: 100%;
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

#filter-container form label {
  display: inline-block;
}