/*
  Henok Assalif
  Date: May 4th, 2024
  Section: AE, Peter Oh & Kasten Welsh

  This is the styles.css page for main page
*/

main {
  margin: auto;
  width: 95%;
  height: 80%;
}

nav {
  font-size: 30px;
  height: 13%;
  border: 2px green solid;
  width: 96vw;
}

body {
  border: 6px solid black;
  height: 100vh;
}

label {
  display: flex;
  flex-direction: column;
  border: 2px red solid;
}

h1 {
  border-left: 5px solid black;
  border-bottom: 5px solid black;
  margin-top: 0px;
  margin-right: 10px;
  padding-left: 8px;
  padding-right: 5px;
}

.navbar-headers {
  display: flex;
  justify-content: space-between;
}

#course-input {
  display: block;
  margin-right: 70vw;
  margin-top: 10px;
  font-weight: bold;
  padding-right: 40px;
}