/*
  Henok Assalif & Jimmy Le
  Date: May 4th, 2024
  Section: AE, Peter Oh & Kasten Welsh

  This is the styles.css page for main page
*/

body {
  margin: 0;
  padding: 0;
}

#header {
  background-color: #212529;
  height: 30px;
  display: flex;
  justify-content: end;
}

#copyright {
  background-color: #212529;
  color: white;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#login, #display-login, #logo, #visual-schedule, #signout {
  color: white;
  height: 100%;
  width: auto;
  padding: 0 10px 0 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}

a {
  color: white;
}

#logo {
  margin-top: 0;
}

#logo-header {
  display: flex;
  justify-content: space-between;
  background-color: #4d307f;
  height: 80px;
  margin-bottom: 20px;
}

#login:hover, #display-login:hover, #logo:hover, #visual-schedule:hover, #signout:hover {
  background-color: lightgrey;
}

#main-body {
  display: flex;
  flex-direction: row;
  height: 100vh;
  margin-top: 30px;
  margin-bottom: 30px;
}

#filter-container, #course-list, #searching-container {
  padding: 10px 20px 10px 10px;
  border: solid 2px black;
  border-radius: 5px;
  margin: 0 50px 0 10px;
}

#course-list, #searching-container {
  flex-grow: 1;
}

#search-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#course-input {
  margin-left: 10px;
  font-weight: bold;
  flex-grow: 1;
  max-width: 30%;
}

#filter-container form label {
  display: inline-block;
}

#filter-container nav, #course-list nav {
  background-color: lightgrey;
  margin-left: -10px;
  margin-right: -20px;
  margin-top: -10px;
  margin-bottom: 20px;
  padding: 10px;
}

#search-button {
  margin-left: 10px;
}

#classes article {
  margin-bottom: 40px;
  padding: 10px;
  border: solid 2px black;
  max-width: 300px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.856);
}

#classes {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#classes article:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  background-color: rgb(47, 44, 44, 0.5);
  cursor: pointer;
}

.pop-up-login {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 500px;
  max-width: 80%;
}

.pop-up-login.active {
  transform: translate(-50%, -50%) scale(1);
  transition: transform 0.3s;
}

.pop-up-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.pop-up-header .title {
  font-size: 1.5rem;
  font-weight: bold;
}

.pop-up-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.pop-up-body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

.error {
  text-align: center;
  color: red;
  font-weight: bold;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

.hidden {
  display: none !important;
}